/* FORMATAÇÃO GERAL    */



body{

/*  background: rgb(64, 0, 128); */

 /*	background: #eee;	*/

 background: url(../img/testefundo2.png) center center;
 background-attachment: fixed; 
height: 100%;

}


header {
	background: rgb(255, 0, 255);
}



/* ------------- NAVEGAÇÃO 	----------------------*/


.cor-fundo-header	{
	background: rgba(0, 0, 0, 0.7);

}

#nav-principal ul li a  {
	color:#ffffff;
}



#logo-ti {
	color: #ffffff;
	font-size: 40px;
	margin-left: 20px;
	letter-spacing: 8px;
}


	#logo-ti-rodape {
		font-size: 30px;
		margin-left: 10px;
		letter-spacing: 4px;
	}



 .navbar-toggler {
	border-color: #fff;
}



/* ------------- BOOTSTRAP 	----------------------*/

		/*


				.fas {
						margin-bottom:-200%;
					}

		*/



/*


			 #esquerdo .fas.fa-angle-left, .fas.fa-angle-right{

				color: #ffffffff;
				position: absolute;
			    top: 70%;
			    display: inline-block;
			    margin-top: -10px;
			    opacity: 0.9;

		}

			div.card-img-overlay.titulo-cartao {

				 	position: absolute;
				 	display: inline-block;
				 	top: 70%;

			 }


*/




/* ------------------- capa ------------------------- */



#capa {
	margin-top: 50px;
}



/* ------------------- responsividade  ------------------------- */


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

	#logo-ti {
		font-size: 30px;
		margin-left: 10px;
		letter-spacing: 4px;
	}


	#logo-ti-rodape {
		font-size: 30px;
		margin-left: 10px;
		letter-spacing: 4px;
	}

	nav div a img {
		width: 40px;
	}


	.carousel-item h4 {
		font-size: 1.0rem;
	}


	#font-noticias h4{
		font-size: 0.9rem;
		text-align: center;
		margin-bottom: 5px;
	}


	#font-noticias p{
		font-size: 0.7rem;
		margin-right: 0;
		margin-left: 5px;
		margin-bottom: 5px;
		text-align: justify;		
	}


	div.scroll {
		height:160px;
		overflow: auto;
		margin-bottom: 5px;
		margin-left: 5px;
	}


	div.scroll-noticias {
		height:200px;
		overflow: auto;
		margin-bottom: 10px;
		width: 100%;
		padding-bottom: 20px;
		text-align: justify;

	}


	#font-noticias .card-body {
		padding: 15px 0px;	
	}


	#font-noticias .card-body img {
		width: 115%;
		margin-top: 20px;	
	}


	.ml-1, .mx-1 {
    	margin-left: .60rem!important;
	}


	 #esquerdo .fas.fa-angle-left, #esquerdo .fas.fa-angle-right{

		font-size: 3em;

	}


		.h1, h1 {
	    font-size: 2.5rem;
	}


	.mt-3, .my-3 {
    	margin-top: 0.5rem!important;
	}

	.card-img-overlay {

    	padding: 0.5rem;
	}


	.videos h4{
		font-size: 1.0rem;
	}

	.h1, h1 {
	    font-size: 1.6rem;
	}


	.titulo-noticias h4 {
   		 font-size: 1.2rem;
	}


	.titulo-noticias p {
   		 font-size: 0.8rem;
	}


	#galeria img, #videos iframe {
		width: 100%;
		height: 225px;
		border-radius: 5px;
	}
	
	

 }



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 

	#logo-ti {
		font-size: 30px;
		margin-left: 10px;
		letter-spacing: 5px;
	}

	nav div a img {
		width: 45px;
	}

	.carousel-item h4 {
		font-size: 1.1rem;
	}


	#font-noticias h4{
		font-size: 1.0rem;
		text-align: center;
		margin-bottom: 5px;
	}


	#font-noticias p{
		font-size: 0.8rem;
		margin-right: 0;
		margin-left: 5px;
		margin-bottom: 5px;
		text-align: justify;	
	}


	div.scroll {
		height:200px;
		overflow: auto;
		margin-bottom: 5px;
		margin-left: 20px;
		width: 95%;
	}


	div.scroll-noticias {
		height:220px;
		overflow: auto;
		margin-bottom: 10px;
		width: 100%;
		padding-bottom: 20px;
		text-align: justify;

	}


	#font-noticias .card-body {
		padding: 15px 0px;	
	}


	#font-noticias .card-body img {
		width: 115%;
		margin-top: 20px;	
	}


	.ml-1, .mx-1 {
    	margin-left: 1.4rem!important;
	}


	 #esquerdo .fas.fa-angle-left, #esquerdo .fas.fa-angle-right{
		font-size: 4em;
	}

	.videos h4{
		font-size: 1.2rem;
	}

	.h1, h1 {
	    font-size: 1.9rem;
	}

	.titulo-noticias h4 {
   		 font-size: 1.2rem;
	}


	.titulo-noticias p {
   		 font-size: 0.8rem;
	}


	#galeria img, #videos iframe {
		width: 100%;
		height: 350px;
		border-radius: 5px;
	}


 }




/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 

	.carousel-item h4 {
		font-size: 1.3rem;
	}

	#font-noticias h4{
		font-size: 1.3rem;
		text-align: center;
	}


	#font-noticias p{
		font-size: 0.9rem;
		margin-right: 0;
		margin-left: 5px;
		margin-bottom: 5px;
		text-align: justify;	
	}


	div.scroll {
		height:250px;
		overflow: auto;
		margin-bottom: 5px;
		margin-left: 20px;
		width: 95%;


	}

	div.scroll-noticias {
		height:250px;
		overflow: auto;
		margin-bottom: 10px;
		width: 100%;
		padding-bottom: 20px;
		text-align: justify;

	}


	#font-noticias .card-body {
		padding: 15px 0px;	
	}


	#font-noticias .card-body img {
		width: 110%;
		margin-top: 20px;	
	}


	.ml-1, .mx-1 {
    	margin-left: 1.60rem!important;
	}


	 #esquerdo .fas.fa-angle-left, #esquerdo .fas.fa-angle-right{

		font-size: 4.5em;

	}

	.videos h4{
		font-size: 1.3rem;
	}


	.h1, h1 {
	    font-size: 2.1rem;
	}

	.titulo-noticias h4 {
   		 font-size: 1.2rem;
	}


	.titulo-noticias p {
   		 font-size: 0.9rem;
	}



	#galeria img, #videos iframe {
		width: 100%;
		height: 240px;
		border-radius: 5px;

	}
	



 }





/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 

			.carousel-item h4 {
	    font-size: 1.5rem;
	}

				#font-noticias h4{
			font-size: 1.4rem;
			text-align: center;
	}


		#font-noticias p{
		font-size: 0.9rem;
		margin-right: 0;
		margin-left: 5px;
		margin-bottom: 5px;
		text-align: justify;	
	}


	div.scroll {
		height:200px;
		overflow: auto;
		margin-bottom: 5px;
		margin-left: 20px;
		width: 100%;

	}


	div.scroll-noticias {
		height:250px;
		overflow: auto;
		margin-bottom: 15px;
		width: 100%;
		padding-bottom: 30px;
		text-align: justify;

	}


	#font-noticias .card-body {
		padding: 15px 0px;	
	}


	#font-noticias .card-body img {
		width: 110%;
		margin-top: 20px;	
	}


	.ml-1, .mx-1 {
    margin-left: 1.60rem!important;
	}


	 #esquerdo .fas.fa-angle-left, #esquerdo .fas.fa-angle-right{

		font-size: 5.0em;

	}
	.videos h4{
		font-size: 1.0rem;
	}

	.h1, h1 {
	    font-size: 1.9rem;
	}


	.titulo-noticias h4 {
   		 font-size: 1.3rem;
	}


	.titulo-noticias p {
   		 font-size: 0.9rem;
	}

	 #galeria img, #videos iframe {
		width: 100%;
		height: 225px;
		border-radius: 5px;
	}


 }



/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 



	.carousel-item h4 {
	    font-size: 1.6rem;
	}

	#font-noticias h4{
			font-size: 1.5rem;
			text-align: center;
	}


		#font-noticias p{
		font-size: 1.0rem;
		margin-right: 0;
		margin-left: 5px;
		margin-bottom: 5px;
		text-align: justify;	
	}


	div.scroll {
		height:300px;
		overflow: auto;
		margin-bottom: 5px;
		margin-left: 20px;
		width: 95%;

	}

	div.scroll-noticias {
		height:300px;
		overflow: auto;
		margin-bottom: 15px;
		width: 100%;
		padding-bottom: 30px;
		text-align: justify;

	}


	#font-noticias .card-body {
		padding: 15px 0px;	
	}


	#font-noticias .card-body img {
		width: 110%;
		margin-top: 20px;	
		padding: 30px;
	}


	.ml-1, .mx-1 {
    margin-left: 1.60rem!important;
}


	 #esquerdo .fas.fa-angle-left, #esquerdo .fas.fa-angle-right{

		font-size: 5.5em;

	}

	.videos h4{
		font-size: 1.1rem;
	}

	.h1, h1 {
	    font-size: 2.1rem;
	}


	.titulo-noticias h4 {
   		 font-size: 1.4rem;
	}


	.titulo-noticias p {
   		 font-size: 1.0rem;
	}


	#galeria img, #videos iframe {
		width: 100%;
		height: 300px;
		border-radius: 5px;
	}




 }

/* ------------------------    CAROUSEL   -------------------    */

.carousel-indicators li {
    display: inline-block;
    width: 11px;
    height: 11px;
    margin: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: rgba(0,0,0,0);
    border: 2px solid #fff;
    border-radius: 10px;


}


 #esquerdo .fas.fa-angle-left, #esquerdo .fas.fa-angle-right{

	color: #ffffffff;
    opacity: 0.6;

}


		 #direito .fas.fa-angle-left, #direito .fas.fa-angle-right{

				color: #ffffffff;
				position: absolute;
			    top: 35%;
			    display: inline-block;
			    margin-top: -10px;
			    opacity: 0.9;

		}



.sumir {
	opacity: 0;
}


/* ----------------------------- FOOTER ------------------------------ */


footer .navbar-nav a {
    color: #ffffff;
    font-size: 0.8em;
}

footer h4 {
    color: #919496;
    font-size: 0.9em;
    text-transform: uppercase;
}